@font-face {
  font-family: Heavitas;
  src: url(./fonts/Heavitas.ttf)
}

.parent-sponsors {
  padding: 7vh 3vw;
  position: relative;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: rgba(248, 248, 248, 0.988);
  background-image:
      radial-gradient(circle, rgba(123, 106, 98, 0.266) 1px, transparent 1px),
      radial-gradient(circle, rgba(123, 106, 98, 0.266) 1px, transparent 1px),
      radial-gradient(circle, rgba(123, 106, 98, 0.266) 1px, transparent 1px),
      radial-gradient(circle, rgba(123, 106, 98, 0.266) 1px, transparent 1px),
      radial-gradient(circle, rgba(123, 106, 98, 0.266) 1px, transparent 1px);
  background-size:
      20px 20px,
      35px 35px,
      50px 50px,
      65px 65px,
      80px 80px;
  background-position:
      0px 0px,
      10px 20px,
      30px 10px,
      50px 30px,
      70px 50px;

  @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    padding: 5vh 2vw;
  }
}
.parent-sponsors::after {
  content: " ";
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 1;
  background-size: contain;
}

.sponsors-title {
  position: relative;
  font-size: 45px;
  font-family: bernie;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
  display: flex;
  align-items: center;
  gap: 2vw;
  padding-left: 6vw;
  @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    font-size: 40px;
    padding-left: 15vw;
  }
}

.sponsors-title::after {
  content: "";
  z-index: -1;
  border-bottom: 4px solid #d500ed;
  border-image: linear-gradient(
    to right top,
    #e8cb8c,
    #f97066,
    #f0524a,
    #ff3c6f,
    #e43a3a,
    #e91f1f,
    #4eebde,
    #0ad0f3
  );
  border-image-slice: 1;
  width: 35vw;
}
.sponsors-title img {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 90px;
  top: -2vh;
  @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    width: 55px;
  }
}

.sponsors-container {
  margin-top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    margin-top: 0px;
  }
}

.sponsors-border {
  position: relative;
  padding: 2vh 1vw;
  border: 2px solid rgb(0, 0, 0);
  display: flex;
  gap: 1vw;
  align-items: center;
  border-radius: 1vw;
  isolation: isolate;
  overflow: hidden;
  /* background-color: #dfdbe5; */
  @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    border-radius: 5vw;
    padding: 0vh 1vw;
  }
}
.sponsors-border::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.3;
  background-color: #dfdbe5;
}

.sponsors-border::after {
  content: " ";
  position: absolute;
  z-index: -2;
  inset: 0;
  opacity: 1;
  background-color: #f89b9e;
  background-image: linear-gradient(315deg, #329e99 0%, #08a4a7 74%);
}

.sponsors-container img {
  width: 5vw;
  @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    width: 25vw;
  }
}
.sponsors-container-sub {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sponsor-title a {
  letter-spacing: 2px;
  font-family: Heavitas;
  font-weight: 500;
  font-size: 2vw;
  @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    font-size: 4vw;
  }
}
.sponsors-description {
  font-size: 1.2vw;
  text-align: justify;
  max-width: 40vw;
}

.link-launch-icon {
  width: 30px;
  height: 100%;
  @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    width: 25px;
  }
}
